body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}




/*Template ends*/



/*Personalization starts*/


.top-buffer {
    margin-top: 20px;
}

/* Bootstrap Overrides */
.form-control {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

    .form-control:focus {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Noto Sans', sans-serif;
}


/*Actions*/
@media screen and (min-width: 769px) {
    .book .actions {
        font-size: 15px;
        display: none;
    }

    .book:hover .actions {
        display: block;
    }
}

.popover-notifications .popover-body {
    padding: 0;
}

.popover-notifications ul.notifications {
    list-style: none;
    padding-left: 0;
}

    .popover-notifications ul.notifications > li {
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

        .popover-notifications ul.notifications > li:last-child {
            border-bottom: none;
        }

    .popover-notifications ul.notifications .highlight {
        font-weight: bold;
    }

    .popover-notifications ul.notifications .new {
        background-color: #5b6977;
    }


ul.users {
    list-style: none;
    padding-left: 0;
}

    ul.users > li {
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }

        ul.users > li:last-child {
            border-bottom: none;
        }

/*Personalization ends*/


@media screen and (min-width: 576px) and (max-width: 981px) {
    .card-columns {
        column-count: 2;
    }
}

.nav-tabs .nav-link.active {
    border-bottom-color: transparent;
}


.wrapper {
    position: relative;
    overflow: hidden;
    background: black;
    max-height: 300px;
}

.wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
