@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_HomeLayout";
}

<header class="page-header page-header-dark bg-img-repeat bg-secondary">
    <div class="page-header-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="badge badge-marketing badge-pill badge-secondary-soft text-secondary mb-3">@ViewData["Title"]</div>
                    <h1 class="page-header-title">Get your items more organized and accessible</h1>
                    <p class="page-header-text">Stop trying to remember what you have. Start organizing them into your shelves and access from anywhere!</p>
                </div>
                <div class="col-lg-6">
                    <div class="card rounded-lg text-dark">
                        <div class="card-header py-4">Log in to your account!</div>
                        <div class="card-body">
                            <form id="account" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="small text-gray-600" asp-for="Input.Email"></label>
                                    <input class="form-control rounded-pill" asp-for="Input.Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="small text-gray-600" asp-for="Input.Password"></label>
                                    <input class="form-control rounded-pill" asp-for="Input.Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-marketing btn-block rounded-pill" type="submit">Log in</button>
                                </div>
                                    <div class="form-group">
                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </p>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h4>Are you not registered yet?</h4>
                <p class="lead mb-5 mb-lg-0 text-gray-500">Register to create your own profile.</p>
            </div>
            <div class="col-lg-6 text-lg-right"><a class="btn btn-teal btn-marketing rounded-pill my-2 lift lift-sm" asp-area="Identity" asp-page="/Account/Register">Register</a></div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
