@{
    Layout = "_HomeLayout";
}

<header class="py-5 page-header-dark bg-secondary">
    
</header>

<section class="bg-white py-10" style="min-height: 40em">
    <div class="container">
        @RenderBody()
    </div>
</section>

@section Scripts
{
    @RenderSection("Scripts", false)
}
