@{
    Layout = "_HomeLayout";
}

<header class="pb-1 page-header-light bg-light">
    
</header>

<section class="bg-white py-10" style="min-height: 50em">
    <div class="container">
        @RenderBody()
    </div>
</section>

@section Scripts
{
    @RenderSection("Scripts", false)
}
