@{
    ViewData["Title"] = "";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    <div class="page-header-content pt-10">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">About Item.Directory</h1>
                    <p class="page-header-text">An online inventory for books and games with some social features.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h2 class="mb-4">Features</h2>
                <ul>
                    <li>Create your own profile</li>
                    <li>Organize your books and games into shelves</li>
                    <li>Integrated with Google Books APIs and RAWG API to fetch details automatically</li>
                    <li>Change items' cover image of your choice</li>
                    <li>Follow others to get notified with the new shelves</li>
                    <li>Star shelves to show the appreciation and access easily next time</li>
                    <li>Keeping your shelf private or public is up to you</li>
                </ul>
            </div>
        </div>
    </div>
</section>