<header class="page-header page-header-light bg-dark py-4">
    <div class="page-header-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <form class="page-header-signup mb-2 mb-md-0" id="frmSearch">
                        <div class="form-row justify-content-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="form-group mr-0 mr-lg-2 mb-lg-0">
                                    <label class="sr-only" for="inputQuery">Search shelves...</label>
                                    <input class="form-control form-control-solid rounded-pill" id="inputQuery" type="text" placeholder="Search shelves..."/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4"><button class="btn btn-teal btn-block btn-marketing rounded-pill" type="submit"><i class="fas fa-search"></i> Search</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</header>

<section class="bg-white py-10">
    <div class="container">
        <div class="row mb-5" id="divShelves">
            Loading...
        </div>
        <nav aria-label="Shelf pages" id="navShelves">
        </nav>
    </div>
</section>


@section Scripts{
    <script type="text/x-template" id="shelves-template">
        <%
        _.each(shelves, function(shelf){
        %>
        <div class="col-lg-4 mb-5">
            <a class="card lift h-100" href="/shelves/<%= shelf.id %>/<%= shelf.slug %>">
                <img class="card-img-top" src="/images/emptyShelf.png" alt="..." />
                <div class="card-body">
                    <%
                    if (shelf.isStarred){
                    %>
                    <span class="float-right" style="top: -32px; position: relative; color:gold; font-size: 2rem;">
                        <span class="fas fa-bookmark" title="Bookmark" aria-hidden="true"></span>
                    </span>
                    <%
                    }
                    %>
                    <h4 class="card-title mb-2"><%= shelf.title %></h4>
                    <p class="card-text"><%=shelf.items.map(function(item) { return item.title; }).join(', ') %></p>
                </div>
                <div class="card-footer text-center text-xs">
                    Last updated <abbr class="js-timeago" title="<%= shelf.updateDate %> UTC"><%= moment.utc(shelf.updateDate).local().fromNow() %></abbr>
                </div>
            </a>
        </div>
        <%
        })
        %>
    </script>

    <script>
        $(document).ready(function() {
            HomeController.init(".container", "#shelves-template");
        });
    </script>
}
