<header class="page-header page-header-dark bg-dark pb-4">
    <div class="page-header-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <form class="page-header-signup mb-2 mb-md-0" id="frmSearch">
                        <div class="form-row justify-content-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="form-group mr-0 mr-lg-2">
                                    <label class="sr-only" for="inputQuery">Search shelves...</label>
                                    <input class="form-control form-control-solid rounded-pill" id="inputQuery" type="text" placeholder="Search shelves..."/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4"><button class="btn btn-teal btn-block btn-marketing rounded-pill" type="submit"><i class="fas fa-search"></i> Search</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-waves text-white">
        <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
            <defs>
                <style>
                    .a {
                        fill: none;
                    }

                    .b {
                        clip-path: url(#a);
                    }

                    .d {
                        opacity: 0.5;
                        isolation: isolate;
                    }
                </style>
                <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
            </defs>
            <title>wave</title>
            <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
            <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
            <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
            <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
        </svg>
    </div>
</header>

<section class="bg-white py-10">
    <div class="container">
        <div class="row mb-5" id="divShelves">
            Loading...
        </div>
        <nav aria-label="Shelf pages" id="navShelves">
        </nav>
    </div>
</section>


@section Scripts{
    <script type="text/x-template" id="shelves-template">
        <%
        _.each(shelves, function(shelf){
        %>
        <div class="col-lg-4 mb-5">
            <a class="card lift h-100" href="/shelves/<%= shelf.id %>">
                <img class="card-img-top" src="/images/emptyShelf.png" alt="..." />
                <div class="card-body">
                    <%
                    if (shelf.isStarred){
                    %>
                    <span class="float-right" style="top: -32px; position: relative; color:gold; font-size: 2rem;">
                        <span class="fas fa-bookmark" title="Bookmark" aria-hidden="true"></span>
                    </span>
                    <%
                    }
                    %>
                    <h4 class="card-title mb-2"><%= shelf.title %></h4>
                    <p class="card-text"><%=shelf.items.map(function(item) { return item.title; }).join(', ') %></p>
                </div>
                <div class="card-footer text-center text-xs">
                    Last updated <abbr class="js-timeago" title="<%= shelf.updateDate %> UTC"><%= moment.utc(shelf.updateDate).local().fromNow() %></abbr>
                </div>
            </a>
        </div>
        <%
        })
        %>
    </script>

    <script>
        $(document).ready(function() {
            HomeController.init(".container", "#shelves-template");
        });
    </script>
}
