@{
    ViewData[ViewDataParameters.IsFixedTop] = true;
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
    <div class="page-header-content pt-10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6" data-aos="fade-up">
                    <h1 class="page-header-title">Organize your items and share with friends</h1>
                    <p class="page-header-text mb-5">Welcome to Item.Directory, a web app for organizing items like books, games etc. Created by a geek for geeks.</p>
                    <a class="btn btn-teal btn-marketing rounded-pill lift lift-sm" asp-area="Identity" asp-page="/Account/Register">Get Started<i class="fas fa-arrow-right ml-1"></i></a>
                    <a class="btn btn-link btn-marketing" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="50"><img class="img-fluid" src="assets/img/drawkit/color/drawkit-content-man-color.svg" /></div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-white py-10">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="file-plus"></i></div>
                <h3>Add</h3>
                <p class="mb-0">Our integration with Google Books and Rawg.io makes adding your item details fast and easy!</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="archive"></i></div>
                <h3>Organize</h3>
                <p class="mb-0">Carefully crafted virtual shelves will help you to organize your items beautifully!</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="heart"></i></div>
                <h3>Share</h3>
                <p class="mb-0">Access from anywhere to your items and share them with your loved ones.</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                <div class="content-skewed content-skewed-right"><img class="content-skewed-item img-fluid shadow-lg rounded-lg" src="assets/img/screenshots/landing-portfolio.jpg" /></div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                <div class="mb-5">
                    <h2>Here's What You Get</h2>
                    <p class="lead">When you register, you can create your own shelves and you get access to others' shelves.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <h6>Shelves</h6>
                        <p class="mb-2 small">We've crafted virtual shelves for your items.</p>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h6>Items</h6>
                        <p class="mb-2 small mb-0">Add your items to shelves and find easily.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <h6>Books</h6>
                        <p class="mb-2 small mb-0">Google Books provides book details for us.</p>
                    </div>
                    <div class="col-md-6 mb-4">
                        <h6>Games</h6>
                        <p class="mb-2 small mb-0">Use our embedded search engine from Rawg.io to find game details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h4>Ready to get started?</h4>
                <p class="lead mb-5 mb-lg-0 text-gray-500">Register or login with your existing account.</p>
            </div>
            <div class="col-lg-6 text-lg-right">
                <a class="btn btn-teal btn-marketing rounded-pill mr-3 my-2 lift lift-sm" asp-area="Identity" asp-page="/Account/Register">Get Started</a>
                <a class="btn btn-white btn-marketing rounded-pill my-2 lift lift-sm" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
        </div>
    </div>
</section>