
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>Serverless inventory for books with some social features.</p>

<h3>Github Repository</h3>
<p><a href="https://github.com/olcay/om">github.com/olcay/om</a></p>

<h3>Image Credits</h3>
<p><a href="https://www.freepik.com/free-photos-vectors/mockup">Mockup vector created by Freepik</a></p>