@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>An online inventory for books and games with some social features.</p>

<h3>Features</h3>

<ul>
    <li>Create your own profile</li>
    <li>Organize your books and games into shelves</li>
    <li>Integrated with Google Books APIs and RAWG API to fetch details automatically</li>
    <li>Change items' cover image of your choice</li>
    <li>Follow others to get notified with the new shelves</li>
    <li>Star shelves to show the appreciation and access easily next time</li>
    <li>Keeping your shelf private or public is up to you</li>
</ul>